body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

/* Top bar with welcome message and menu */
#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

#welcome-message {
    flex: 2;
}

#menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#menu button {
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menu button:hover {
    background-color: #0056b3;
}

/* Instructions and Legend section */
#legend-instructions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#legend, #instructions {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    width: 48%;
}

#legend h3, #instructions h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.legend-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.legend-column {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.color-sample {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.pastel-green { background-color: #b2fab4; }
.pastel-purple { background-color: #c3b1e1; }
.pastel-pink { background-color: #f28b82; }
.unique { background-color: #ccc; }
.highlight {
    background-color: #4169E1;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}

/* Gospels content */
#gospels {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 22%;
    overflow-y: auto;
    height: 80vh;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

.chapter-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.column h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.highlight {
    background-color: #4169E1;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
