body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

#legend-instructions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#legend, #instructions {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    width: 48%; /* Adjusted to make both boxes fit side by side */
}

.color-sample {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.pastel-green { background-color: #b2fab4; }
.pastel-purple { background-color: #d4b2fa; }
.pastel-pink { background-color: #f28b82; }
.unique { background-color: #ccc; }

#gospels {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 23%; /* Adjusted to ensure they fit side by side */
    overflow-y: auto;
    height: 80vh;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

.chapter-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
